
modules/2. Python Intro and Math Foundation/1. Introduction to Python/.ipynb_checkpoints/*
modules/2. Python Intro and Math Foundation/2. Numpy/.ipynb_checkpoints/*
modules/2. Python Intro and Math Foundation/3. Pandas and Math/.ipynb_checkpoints/*
modules/2. Python Intro and Math Foundation/4. Linear Algebra/.ipynb_checkpoints/*
modules/3. EDA and Visualization/1. EDA/.ipynb_checkpoints/*
modules/3. EDA and Visualization/2. Visualization/.ipynb_checkpoints/*